Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and stored for efficient retrieval, manipulation, and management. It provides a way to store, organize, and retrieve large amounts of data in a systematic manner.

SQL Databases:
SQL databases are based on a relational data model. They use structured schemas to define the organization of data into tables, rows, and columns. SQL databases enforce strict data integrity rules through constraints and support complex relationships between tables through the use of foreign keys. The primary language used to query SQL databases is SQL, a declarative language for manipulating and retrieving data. SQL databases provide ACID (Atomicity, Consistency, Isolation, Durability) properties, which ensure data consistency and reliability.

NoSQL Databases:
NoSQL databases are designed to handle large volumes of rapidly changing, unstructured, and semi-structured data. They provide flexible schemas that allow for dynamic and schema-less data storage. NoSQL databases use various data models such as key-value, document, columnar, and graph. They prioritize scalability, performance, and availability over strict data consistency. NoSQL databases offer high write and read throughput and can scale horizontally by distributing data across multiple servers.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a subset of SQL (Structured Query Language) used to define and manage the structure of a database, including creating, modifying, and deleting database objects such as tables, indexes, and constraints

1-CREATE:
The CREATE statement is used to create new database objects, such as tables, views, indexes, or schemas. For example, to create a table named "Customers" with columns for "ID," "Name," and "Email," you would use the following CREATE statement in SQL:

CREATE TABLE Customers (
    ID INT,
    Name VARCHAR(100),
    Email VARCHAR(100)
);

2-DROP:
The DROP statement is used to remove or delete existing database objects. It permanently deletes the object and all associated data. For example, to drop the "Customers" table created in the previous example, you would use the following DROP statement:

DROP TABLE Customers;

3-ALTER:
The ALTER statement is used to modify the structure of an existing database object. It allows you to add, modify, or delete columns, constraints, or other properties of a table or other database objects. For example, to add a new column named "Phone" to the "Customers" table, you would use the following ALTER statement:

ALTER TABLE Customers
ADD Phone VARCHAR(20);

4-TRUNCATE:
The TRUNCATE statement is used to delete all the data from a table, but it keeps the structure intact. It is a faster alternative to the DELETE statement when you want to remove all records from a table. For example, to truncate the "Customers" table, you would use the following TRUNCATE statement:

TRUNCATE TABLE Customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML is an abbreviation for Data Manipulation Language. Represents a collection of programming languages explicitly used to make changes to the database, such as: CRUD operations to create, read, update and delete data. Using INSERT, SELECT, UPDATE, and DELETE commands.

1-INSERT:
The INSERT statement is used to add new rows of data into a table. It allows you to specify the values for each column or select values from another table. For example, to insert a new row into a table named "Employees" with values for columns "ID," "Name," and "Salary," you would use the following INSERT statement:

INSERT INTO Employees (ID, Name, Salary)
VALUES (1, 'abhishek mishra', 50000);

2-UPDATE:
The UPDATE statement is used to modify existing data within a table. It allows you to update specific columns or rows based on certain conditions. For example, to update the salary of an employee with the ID of 1 in the "Employees" table, you would use the following UPDATE statement:

UPDATE Employees
SET Salary = 55000
WHERE ID = 1;

3-DELETE:
The DELETE statement is used to remove specific rows or all rows from a table. It allows you to specify conditions to delete specific records or remove all records. For example, to delete an employee with the ID of 1 from the "Employees" table, you would use the following DELETE statement:

In [ ]:
DELETE FROM Employees
WHERE ID = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language. It is a subset of SQL (Structured Query Language) used to retrieve and query data from a database. DQL statements, particularly the SELECT statement, are used to retrieve specific data from one or multiple tables based on specified conditions.

Here is an explanation of the SELECT statement:

The SELECT statement is used to query and retrieve data from one or more tables in a database. It allows you to specify the columns you want to retrieve, the tables from which to retrieve the data, and any conditions or filters to apply. Here's an example of a SELECT statement:

You can also apply various conditions using logical operators (AND, OR) and comparison operators (=, <, >, etc.) to filter the data further. Additionally, you can use functions like COUNT, SUM, AVG, etc., to perform calculations on the selected data or use ORDER BY to sort the result set.

For example, to retrieve the total number of customers and their average salary from a table named "Employees" grouped by department, you would use the following SELECT statement:

SELECT Department, COUNT(*) AS TotalCustomers, AVG(Salary) AS AverageSalary
FROM Employees
GROUP BY Department;

Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a column or a set of columns that uniquely identifies each record or row in a table. It ensures that each row in a table is unique and provides a way to uniquely identify and retrieve individual records. The primary key constraint enforces the uniqueness and non-nullability of the key column(s). Key characteristics of a primary key include:

Uniqueness: Each value in the primary key column(s) must be unique, meaning no two rows in the table can have the same key value.

Non-nullability: The primary key column(s) cannot contain null values.

Single value or composite: A primary key can consist of a single column or a combination of multiple columns, forming a composite key.

Stable and unchanging: The primary key value(s) should generally be static and not change over time.

For example, in a table named "Employees," the "ID" column can be designated as the primary key, ensuring that each employee has a unique identifier:

CREATE TABLE Employees (
    ID INT PRIMARY KEY,
    Name VARCHAR(100),
    ...
);

Foreign Key:
A foreign key establishes a relationship between two tables by linking the primary key of one table to a column in another table. It represents a reference to the primary key values in another table, creating a parent-child relationship between the tables. The foreign key constraint ensures data integrity by enforcing referential integrity rules. Key characteristics of a foreign key include:

References primary key: The foreign key column(s) in one table references the primary key column(s) of another table.

Relationship: The foreign key represents a relationship between the two tables, where the referencing table is the child table and the referenced table is the parent table.

Maintaining referential integrity: The foreign key ensures that values in the referencing table match the values in the referenced table, preventing orphaned records.

Optional or mandatory: Depending on the requirements, a foreign key column can be designated as optional (allowing null values) or mandatory (not allowing null values).

For example, consider two tables: "Orders" and "Customers." The "Orders" table can have a foreign key column named "CustomerID" that references the primary key "ID" column in the "Customers" table, establishing a relationship between the two tables:

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    OrderDate DATE,
    CustomerID INT,
    ...
    FOREIGN KEY (CustomerID) REFERENCES Customers(ID)
);

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

Certainly! To connect MySQL to Python, you can use the mysql-connector-python library, which provides an interface for connecting and interacting with MySQL databases. Here's an example code snippet that demonstrates how to establish a connection and execute a query using the cursor() and execute() methods:

import mysql.connector

# Establish connection to MySQL
cnx = mysql.connector.connect(
    host="your_host",
    user="your_user",
    password="your_password",
    database="your_database"
)

# Create a cursor object
cursor = cnx.cursor()

# Execute a query
query = "SELECT * FROM your_table"
cursor.execute(query)

# Fetch and print the results
results = cursor.fetchall()
for row in results:
    print(row)

# Close the cursor and connection
cursor.close()
cnx.close()

Q7. Give the order of execution of SQL clauses in an SQL query.